/* css vars */
:root {
  --color-bg-base: 255, 254, 252;
  --color-bg-secondary: 197, 215, 253;
  --color-bg-secondary-light: 238, 243, 252;
  --color-bg-gray: 244, 242, 238;

  --color-typo-base: 45, 45, 45;
  --color-typo-light: 105, 114, 134;
  --color-typo-white: 255, 255, 255;

  --sticky-header-z-index: 10;

  --font-family-base: var(--font-inter), sans-serif;
}

/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  color: var(--color-typo-base);
  font-family: var(--font-family-base);
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.2;
  webkit-font-smoothing: antialiased;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin-block: 0;
}
