/* css vars */
:root {
  --color-bg-base: 255, 254, 252;
  --color-bg-secondary: 197, 215, 253;
  --color-bg-secondary-light: 238, 243, 252;
  --color-bg-gray: 244, 242, 238;

  --color-bg-accent: 221, 217, 129;

  --color-typo-base: 45, 45, 45;
  --color-typo-light: 105, 114, 134;
  --color-typo-white: 255, 255, 255;
  --color-typo-secondary: 101, 143, 235;

  --sticky-header-z-index: 10;

  --font-family-base: var(--font-inter), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-base: 38, 43, 54;
    --color-bg-secondary: 197, 215, 253;
    --color-bg-secondary-light: 60, 73, 97;
    --color-bg-gray: 153, 150, 145;

    --color-bg-accent: 221, 217, 129;

    --color-typo-base: 239, 237, 242;
    --color-typo-light: 207, 203, 214;
    --color-typo-white: 255, 255, 255;
    --color-typo-secondary: 101, 143, 235;

    --sticky-header-z-index: 10;

    --font-family-base: var(--font-inter), sans-serif;
  }
}

/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  color: rgb(var(--color-typo-base));
  font-family: var(--font-family-base);
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.2;
  webkit-font-smoothing: antialiased;
  height: auto;
  background-color: rgb(var(--color-bg-base));
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin-block: 0;
}

/* global css */
::selection {
  background-color: rgb(var(--color-bg-accent));
  color: rgb(var(--color-typo-white));
}
