.main {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  justify-content: space-between;
  max-width: 780px;
  margin: 0 auto;
  padding: 0 24px;
  background-color: rgb(var(--color-bg-base));
}
