.main__top {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 48px;
}

.top__description-box {
  padding-top: 24px;
  width: 100%;
}

.description-box__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 12px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.description-box__name {
  font-size: 1.75rem;
  font-weight: 700;
}

.description-box__real-name {
  font-size: 1rem;
  color: rgb(var(--color-typo-light));
  margin-bottom: 24px;
  font-weight: 400;
}

.description-box__description-hello {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(var(--color-typo-light));
  font-weight: 400;
  margin-bottom: 16px;

  word-break: keep-all;
  overflow-wrap: break-word;
}

.description-box__description-goal {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(var(--color-typo-light));
  font-weight: 400;
  margin-bottom: 8px;

  word-break: keep-all;
  overflow-wrap: break-word;
}

.description-box__read-more {
  font-size: 1rem;
  color: rgb(var(--color-typo-light));
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  border-bottom: 1px solid rgb(var(--color-typo-light));
}

.description-box__read-more-arrow {
  margin-left: 0px;
  transition: margin-left 0.2s ease-in-out;
}

.top__voxel {
  width: 60%;
  margin: 0 auto;
  height: 60vw;
  cursor: pointer;
}

.main__links {
  margin-bottom: 48px;
}

.links__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.links__description {
  font-size: 1rem;
  color: rgb(var(--color-typo-light));
  font-weight: 400;
  margin-bottom: 24px;
}

.links__tiles {
  max-width: 390px;
  display: grid;
  grid-template-areas: "posts twitter" "posts github";
  gap: min(5.38vw, 24px);
}

.tiles__posts {
  display: block;
  grid-area: posts;
  width: min(56.67vw, 252px);
  height: min(56.67vw, 252px);
  border-radius: 8px;
  padding: 20px;
  background-image: url("/light-blue-tile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-decoration: none;
  position: relative;
}

.tiles__posts::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;

  background-image: url("/post.png");
  background-size: 44%;
}

.tiles__posts-title {
  color: rgb(var(--color-typo-white));
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 4px;
}

.tiles__posts-description {
  color: rgb(var(--color-typo-white));
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  width: 56%;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  word-break: keep-all;
  overflow-wrap: break-word;
}

.tiles__twitter {
  display: grid;
  place-items: center;
  grid-area: twitter;
  width: min(25.64vw, 114px);
  height: min(25.64vw, 114px);
  border-radius: 8px;
  background-image: url("/twitter-tile.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tiles__twitter > img {
  width: 33%;
  height: auto;
}

.tiles__github {
  display: grid;
  place-items: center;
  grid-area: github;
  width: min(25.64vw, 114px);
  height: min(25.64vw, 114px);
  border-radius: 8px;
  background-image: url("/github-tile.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tiles__github > img {
  width: 33%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .main__top {
    margin-top: 12px;
    flex-direction: row;
    justify-content: center;
  }

  .top__description-box {
    padding-top: 46px;
    max-width: 390px;
    width: 100%;
  }

  .description-box__title {
    font-size: 2.75rem;
    margin-bottom: 20px;
  }

  .description-box__name {
    margin-bottom: 4px;
  }

  .description-box__real-name {
    margin-bottom: 20px;
  }

  .description-box__description-hello {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .description-box__read-more:hover .description-box__read-more-arrow {
    margin-left: 4px;
  }

  .description-box__description-goal {
    margin-bottom: 4px;
  }

  .top__voxel {
    height: 390px;
  }

  .tiles__posts:hover,
  .tiles__twitter:hover,
  .tiles__github:hover {
    transform: scale(1.01);
    transition: all 0.2s ease;
  }
}
