.back-to-post {
  display: inline-block;
  margin-top: 1.125rem;
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 3rem;
}

.back-to-post:hover {
  text-decoration: underline;
}

.title-wrapper {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "publishedAt";
  align-items: end;
  margin-bottom: 3rem;
}

.title-image {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  object-fit: contain;
  grid-area: image;
  margin-bottom: 1.25rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.title-published-at {
  font-size: 1rem;
  color: rgba(var(--color-typo-light));
}

.divider {
  width: 98%;
  margin: auto;
  border: none;
  border-top-color: rgba(var(--color-typo-light), 0.5);
  border-top-style: solid;
  border-top-width: 1px;
}

@media screen and (min-width: 480px) {
  .title-wrapper {
    grid-template-areas:
      "image title"
      "image publishedAt";
    grid-template-columns: 120px 1fr;
    grid-template-rows: 1fr auto;
    margin-bottom: 4rem;
  }

  .title-image {
    margin: 0;
  }
}
